

::-webkit-scrollbar {
  display: none;
}

html{
  scroll-behavior: smooth;
}


body{
  width: 100%;
  height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */

}

.app{
  background-color:#bfa6b0;
}


body .scroll{
  height: 500px;
  overflow-y: scroll;
}

.container {
  margin-bottom:3rem;
  opacity: 0.9;
  height: 100vh;

}
